
#side-bar{
    position:absolute;
    top:0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 2;
    background-color: rgb(73, 57, 57);
    padding:22px;
    height: 100vh;
    width:100%;
    transition: all 0.4s;
    transform-origin: left;
    /* transform: scaleX(1); */
    & img{
        position:absolute;
        left: 11px;
        top:11px;
        /* top:0px; */
        width: 4rem;
        cursor: pointer;
        /* position: relative; */
        /* top:0px; */
    }
    & img:hover{
        transform: scale(1.1);
    }
    & #option-box{
        position:relative;
        top:50%;
        transform:translateY(-200%);
        /* border:2px solid; */
        display: grid;
        row-gap: 34px;
        & a{
            border:2px solid;
            text-align: center;
            text-decoration: none;
            color:rgb(136, 116, 116);
            font-size: 3rem;
            cursor: pointer;
        }
        & a:hover{
            transform:translateY(-4px);
            box-shadow:4px 4px 0px rgb(37, 32, 32);
        }
    }
}